<% if @books.any? %>
  <% @books.each do |book| %>
    <%= link_to book.name, book_path(book)  %>
    <%= book.author %>
    <%= book.year %>
    <%= book.genre %>
  <% end %>
<% else %>
  No books yet
<% end %>

<br />

<a href="/books/new"> <button>  Click here to add a book </button> </a>
