<% if @books.any? %>
  <% @books.each do |book| %>
    <%= book.name  %>
    <%= book.author %>
    <%= book.year %>
    <%= book.genre %>
  <% end %>
<% else %>
  No books yet
<% end %>

<br />

<button a href="/new"> Click here to add a book </button>
